body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.image-container {
    margin-bottom: 10px;
}

.auth-main-login {
    margin-top:200px;
    margin-bottom:180px;
    display: flex;
    flex-direction: column; /* Ensure elements stack vertically */
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.auth-div {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.auth-h1 {
    text-align: center;
    margin-bottom: 10px; /* Reduced margin */
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-label {
    margin-bottom: 10px;
}

.auth-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.auth-button {
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
    background-color:#00E8FF;
}

.auth-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.flash {
    text-align: center;
    margin-top: 20px;
}

.invalid-data {
    text-align: center;
    margin-top: 10px;
}

.center {
    text-align: center;
    margin-top: 20px; /* Adjusted margin */
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login-img {
    height: 200px;
    width: 300px;
    border-radius: 8px;
    
.logo-container {
        text-align: center; /* Center the logo */
        margin-bottom: 20px; /* Space below the logo */
    }
    
    .logo {
        max-width: 100px; /* Set a maximum width for the logo */
        height: auto; /* Maintain aspect ratio */
    }
    
}